.base {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #0b6464;
}

.photo:hover {
    cursor:pointer;
}

.dropdown {
    background-color: whitesmoke;
    position: absolute;
}