.base {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #0b6464;
}

.photo:hover {
    cursor:pointer;
}

.dropdown {
    position: absolute;
    list-style-type: none;
    display: none;
    flex-direction: column;
    border: 4px;
    background-color: #d0f0c0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdownItem {
    padding: 5px 10px;
    font-family: "Nunito Regular", sans-serif;
}

.dropdownItem:hover {
    background-color: #0b6464;
    color: #d0f0c0;
    cursor: pointer;
}