.base {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.title {
    font-family: "DynaPuff", sans-serif;
    font-size: 70px;
    color: #d0f0c0;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 25%;
}

.playBtn {
    border: none;
    font-family: "Nunito Bold", sans-serif;
    font-size: 25px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #d0f0c0;
    color: #0b6464;
    
}

.playBtn:hover{
    cursor: pointer;
    background-color: #9fd584;
}